.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
}

.form-card {
    height: 60%;
    display: flex;
    background-color: hsl(0, 0%, 100%);
    padding: 1rem;
    border-radius: 0.5rem;
}
